<script type="fuck_git.js"></script>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p id="Answer">Nine should appear here</p>
<button type="button" onclick="returnNumberNine()">Click Me</button>
